<?xml version="1.0" encoding="UTF-8"?>
<!-- Configuration status... specifies what log4j's internal info is logged.
     See: https://stackoverflow.com/questions/21065854/what-does-status-mean-in-log4j2-configuration#21069296 -->
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>